.header {
  width: 100%;
}

.header__content {

  max-width: 1440px;
  height: 72px;
  background-color: #ffff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0);
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.header__content_logo {
  background-color:#314A6D ;
  border-bottom: 1px solid #ffff;
  box-shadow: 0 6px 6px -4px rgb(255, 255, 255);
  height: 100%;
    

}

.header__logo {
  max-width: 173px;
  display: block;
}